body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 10px;
    background-color: black;
    color: white;
}

#navbutton-container {
    padding-top: 5px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbuttons {
    list-style-type: none;
    float: right;
}

.navbuttons li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 65px;
    font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

#Hero-section {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}

#my-picture {
    height: auto;
    width: 100%;
}

#my-picture, #headings {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

#headings {
    align-items: center;
    position: relative;
    left: 75px;
}

#headings p {
    font-size: x-large;
    font-style: italic;
    float: center;
    line-height: 200%;
}

#headings span {
    font-size: xx-large;
    font-style: normal;
    float: center;
    line-height: 70%;
    color: rgb(196, 155, 21);
}

#profile-div {
    flex-basis: 50%;
    position: relative;
    left: 150px;
}