html {
    scroll-behavior: smooth;
}

:root {
    --color1 : rgb(0, 197, 231); 
    --color2: white; /* color of text */
    --color3: rgb(27, 27, 27); /* color of background */
    --color4: black; /* color of sections */
}

body {
    background-color: var(--color3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 10px;
    background-color: var(--color4);
    color: var(--color2);
    border-radius: 20px 20px 0px 0px;
}

header img {
    transition: all 0.4s ease-in-out;
}

header img:hover {
    box-shadow: 0 7px 7px var(--color1);
}

#logo {
    border-radius: 10px;
    max-width: 20%;
}

#navbutton-container {
    padding-top: 5px;
    margin-right: 1em;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    max-width: 76%;
}

.navbuttons {
    list-style-type: none;
    float: right;
}

.navbuttons li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
}

.spacing {
    margin-right: 2.0em;
}

a {
    text-decoration: none;
}

.navbuttons li a {
    text-decoration: none;
    color: var(--color2);
}

.navbuttons li a:hover {
    color: var(--color1);
}

#Hero-section {
    background-color: var(--color4);
    color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    margin-bottom: 35px;
    border-radius: 0px 0px 20px 20px;
}

#my-picture {
    height: auto;
    width: 100%;
    filter: brightness(65%) grayscale(30%);
    transition: transform 0.8s ease-in-out;
}

#my-picture:hover {
    transform: translateX(30px);
}

#my-picture, #headings {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color4);
}

#headings {
    margin-left: 1em;
    max-width: 85%;
    text-align: center;
    position: relative;
    left: 1em;
}

#headings p {
    font-size: x-large;
    font-style: italic;
    float: center;
    line-height: 200%;
    transition: all 0.4s ease-in-out;
}

#headings p:hover {
    text-shadow: 0 5px 5px var(--color1);
}

#headings span {
    font-size: xx-large;
    font-style: normal;
    float: center;
    line-height: 70%;
    color: var(--color1);
}

#profile-div {
    float: center;
    position: relative;
    left: 1em;
}
#About-me {
    background-color: var(--color4);
    text-align: center;
    font-size: x-large;
    color: var(--color2);
    padding-top: 40px;
    padding-bottom: 110px;
    width: 100%;
    border-radius: 20px;
}

#About-me p {
    transition: all 0.4s ease-in-out;
}

#About-me p:hover {
    text-shadow: 0 7px 7px var(--color1);
}

#About-me h1 {
    color:var(--color1);
}
#About-me a {
    padding: 7px 20px;
    background-color: var(--color2);
    border-style: solid;
    border-width: 4px;
    border-color: var(--color1);
    color: var(--color4);
    border-radius: 5px;
    position: relative;
    top: 45px;
}

#work-heading {
    background-color: var(--color4);
    color: var(--color2);
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: x-large;
    padding-top: 30px;
}

#work-heading h1 {
    color: var(--color1);
}

#flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 0px 0px 20px 20px;
    width:100%;
    padding-top: 35px;
    padding-bottom: 70px;
}

.titles {
    text-align: center;
    font-size: 26px;
    border: 5px;
    border-style: solid;
    border-color: var(--color1);
    background-color: var(--color2);
    border-radius: 15px;
    margin-top: -34px;
    z-index: 10;
    padding: 3px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.box {
    position: relative;
    padding: 20px;
    border: 5px;
    border-color: var(--color1);
    border-style: solid;
    margin: 17px;
    flex-basis:  350px; 
    transition: all 0.4s ease-in-out;
}

.description {
    color: var(--color2);
    text-align: center;
}

.project-picture a {
    position: relative;
    top: 20px;
    transition: all 0.4s ease-in-out;
}

.box:hover {
    box-shadow: 0 15px 15px var(--color1);
  }

.project-picture a:hover {
    box-shadow: 0 15px 15px var(--color1);
}

  #two, #three, #one {
    height: 362px;
}

#contact-section {
    background-color: var(--color4);
    color: var(--color2);
    text-align: center;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 40px;
}

#contact-section h1 {
    color:var(--color1);
    padding-bottom: 33px;
}

.list-as-a-whole {
    list-style-type: none;
}

.list-as-a-whole  li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    text-align: center;
}

.list-as-a-whole li a {
    font-size: xx-large;
    border: double 4px var(--color1);
}

.list-as-a-whole li p {
    font-size: large;
    position: relative;
    top: 47px;
    right: 50px;
}

#linkedin {
    color: rgb(2, 132, 219);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 4px;
    transition: all 0.4s ease-in-out;
}

#github {
    color: rgb(255, 160, 176);
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 4px;
    transition: all 0.4s ease-in-out;
}

#fiverr {
    color: rgb(1, 163, 1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    transition: all 0.4s ease-in-out;
}

#link-one {
    position: relative;
    right: 59px;
}

#link-two {
    position: relative;
    right: 59px;
}

#linkedin:hover {
    box-shadow: 0 10px 10px rgb(2, 132, 219);
}

#github:hover {
    box-shadow: 0 10px 10px rgb(255, 160, 176);
}

#fiverr:hover {
    box-shadow: 0 10px 10px rgb(1, 163, 1);
}

footer {
    color: var(--color1);
    text-align: center;
    padding: 40px 0px 10px 0px;
}

#email-div {
    margin-left: 0px;
    margin-right: 0px;
}

@media all and (min-width : 900px) {
    #one {
        flex-basis: 840px;
    }
    #large-pic img {
        width: 750px;
    }
    #email-div {
        margin-left: 250px;
        margin-right: 250px;
    }
    #email {
        padding: 0px;
        transition: transform 0.5s ease;
    }
    #email:hover {
        transform: scale(1.25);
    }
    #headings {
    text-align: left;
    align-items: center;
    position: relative;
    left: 115px;
    bottom: 100px;
    }
    #profile-div {
        flex-basis: 50%;
        position: relative;
        left: 150px;
    }

}